@font-face {
    font-family: "Vazir";
    src: url(./fonts/Vazir.eot);
    src: url(./fonts/Vazir.eot) format("embedded-opentype"),
        url(./fonts/Vazir.woff2) format("woff2"),
        url(./fonts/Vazir.woff) format("woff"),
        url(./fonts/Vazir.ttf) format("truetype");
}

body {
    font-family: 'Vazir' !important;
    direction: rtl !important;
}
.body{
    direction: rtl !important; 
}

