<template>
  <div>
    <v-col class="text-end">
      <BtnCom
        :x_small="false"
        my_class="btn_new my-8 mr-5"
        :width="120"
        :height="36"
        :name_btn="name_btn"
      />
    </v-col>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :items-per-page="5"
      class="elevation-1"
      :hide-default-header="true"
      :hide-default-footer="true"
    >
      <template v-slot:header="{}">
        <thead class="data-tabel">
          <tr>
            <th v-for="header in headers" :key="header.value" class="pt-3">
              <v-row justify="center">
                <v-col cols="9" class="text-start mt-3">
                  <TextFildeCom
                    :height="1"
                    :label="header.text"
                    placeholder="جستوجو..."
                  />
                </v-col>
                <v-col cols="1" class="mt-5 mx-1">
                  <button>
                    <v-icon color="white">{{ path1 }}</v-icon>
                  </button>
                </v-col>
                <v-col cols="1" class="mt-5">
                  <button>
                    <v-icon color="white">{{ path }}</v-icon>
                  </button>
                </v-col>
              </v-row>
            </th>
          </tr>
        </thead>
      </template>
    </v-data-table>
    <div class="mt-15 mr-15">
      <v-row>
        <v-col class="mt-4">
          <v-row justify="end">
            <v-col cols="1" class="mt-1">
              <p>نمایش</p>
            </v-col>
            <v-col cols="1" class="mt-1">
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="black"
                    small
                    outlined
                    dark
                    v-bind="attrs"
                    v-on="on"
                  >
                    1
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item v-for="(item, index) in desserts" :key="index">
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-col>
            <v-col cols="2" class="ml-3 mt-1">
              <p>مورد از 195 مورد</p>
            </v-col>
          </v-row>
        </v-col>
        <div class="ml-6 border"></div>
        <v-col>
          <v-row justify="start">
            <v-col cols="2">
              <BtnCom my_class="btn_new mt-5 mb-5" :name_btn="previous" />
            </v-col>
            <v-col cols="1" class="mt-6">
              <p>صفحه</p>
            </v-col>
            <v-col cols="1" class="mt-5 mb-5">
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="black"
                    small
                    outlined
                    dark
                    v-bind="attrs"
                    v-on="on"
                  >
                    1
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item v-for="(item, index) in desserts" :key="index">
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-col>
            <v-col cols="1" class="mt-6">
              <p>از 4</p>
            </v-col>
            <v-col cols="2">
              <BtnCom my_class="btn_new mt-5 mb-5" :name_btn="next" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import { mdiMagnify } from "@mdi/js";
import { mdiFilterVariantRemove } from "@mdi/js";
export default {
  data() {
    return {
      next: "بعدی",
      previous: "قبلی",
      path: mdiMagnify,
      path1: mdiFilterVariantRemove,
      name_btn: "افزودن نوبت جدید",
      headers: [
        {
          text: "id ",
          align: "start",
          sortable: false,
          value: "id",
        },
        { text: "نام درمانگر", value: "name" },
        { text: "نام و نام خانوادگی", value: "calories" },
        { text: "تاریخ نوبت", value: "fat" },
        { text: "ساعت نوبت ", value: "carbs" },
        { text: "سرویس ", value: "protein" },
        { text: " مرجع", value: "iron" },
        { text: "مبلغ", value: "matin" },
        { text: "تخفیف", value: "ali" },
        { text: "شمارع مرجع", value: "tsv" },
      ],
      desserts: [
        {
          id: 1,
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          id: 2,
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          id: 3,
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          id: 4,
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          id: 5,
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          id: 6,
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          id: 7,
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          id: 8,
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          Iron: 3.5,
          matin: 21,
          hskjk: 20,
          nmas: 1,
          ali: 1,
          tsv: 50,
        },
        {
          name: "Ice cream sandwich",
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: 1,
        },
        {
          name: "Eclair",
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: 7,
        },
        {
          name: "Cupcake",
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          iron: 8,
        },
        {
          name: "Gingerbread",
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          iron: 16,
        },
        {
          name: "Jelly bean",
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          iron: 0,
        },
        {
          name: "Lollipop",
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          iron: 2,
        },
        {
          name: "Honeycomb",
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          iron: 45,
        },
        {
          name: "Donut",
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          iron: 22,
        },
        {
          name: "KitKat",
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: 6,
        },
      ],
    };
  },
};
</script>

<style>
.border {
  border: 1px solid #00000058;
}
.v-text-field.v-input--dense .v-label {
  top: 4px;
  color: #f0eded;
  font-size: 12px;
  margin: 3px 1px 1px 1px;
  padding: 0px;
}
.v-text-field fieldset,
.v-text-field .v-input__control {
  color: #ffffffde !important;
}
.v-text-field--outlined.v-input--dense .v-label--active {
  transform: translateY(-16px) scale(0.75);
  color: #fffffffb !important;
}
.btn_new {
  background-color: #23ba25 !important;
  padding: 2px 10px 2px 10px;
}
.data-tabel {
  background-color: #710660;
}
.v-icon__svg {
  height: 19px;
  width: 24px;
  fill: currentColor;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  color: #ffffffb5;
}
.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  width: 100%;
  padding: 0;
}

.v-text-field--filled.v-input--dense.v-text-field--single-line
  > .v-input__control
  > .v-input__slot,
.v-text-field--filled.v-input--dense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot,
.v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled
  > .v-input__control
  > .v-input__slot,
.v-text-field--full-width.v-input--dense.v-text-field--single-line
  > .v-input__control
  > .v-input__slot,
.v-text-field--full-width.v-input--dense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot,
.v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled
  > .v-input__control
  > .v-input__slot,
.v-text-field--outlined.v-input--dense.v-text-field--single-line
  > .v-input__control
  > .v-input__slot,
.v-text-field--outlined.v-input--dense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot,
.v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled
  > .v-input__control
  > .v-input__slot {
  min-height: 30px;
}
</style>